@import '../../../styles/variables.scss';

.filmItem{
    width: 120px;
    height: 160px;
    margin: 0 10px;
    transition: all 1s ease;
    @include breakpoint(md){
    width: 15.6vw;
    height: 23.4vw;
    }
    &:hover{
        transform: scale(105%);
    }
    img{
        width: 100%;
        height: 100%;
    object-fit: cover;
       
    }
}